.input_search {
  display: flex;
  gap: 2px;
  margin: 0 15px;
  padding: 4px 0;
  border-bottom: 1px solid #cecece;

  input {
    border: none;
    width: 100%;
    background-color: transparent;

    &:focus-visible {
      outline: none;
    }
  }
}
