@import '../../assets/styles/variables';

.add_contact {
  display: flex;
  flex-direction: column;
  padding: 30px 2rem;
  height: 100vh;
  background: $background;

  form {
    display: flex;
    gap: 4px;
    width: 100%;
    position: relative;

    input {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid $darkblue;
      border-radius: 2px;
      font-size: 1rem;
      margin: 0;
      font-family: $segoe;

      &:focus {
        outline: 1px solid $blue;
      }
    }

    button {
      background-color: $darkblue;
      border-radius: 50%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      svg {
        width: 25px;
      }

      &:hover {
        background-color: $blue;
      }
    }

    & > div {
      display: flex;
      flex: 1;
      gap: 0.4rem;
      position: relative;

      button {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        right: 0.4rem;
        width: 50px;
        height: 50px;
        background-color: transparent;
      }
    }
  }

  h1 {
    font-family: $segoe;
    font-size: 1.6rem;
    color: $darkblue;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: left;
  }

  > p {
    display: flex;
    align-items: center;
    min-height: 100px;
  }

  ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 2rem;

    li {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      border: 1px solid $blue;
      border-radius: 12px;
      padding: 20px;
      transition: background 150ms;

      &:hover {
      }

      .infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        height: 100%;

        p {
          text-transform: uppercase;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 700;

          &:nth-child(3) {
            font-size: 16px;
            text-transform: lowercase;
            font-weight: 400;
            color: $grey;
          }

          &:nth-child(4) {
            font-size: 13px;
            font-weight: 400;
            color: $grey;
            text-transform: initial;
            text-align: center;
            span {
              font-weight: 700;
            }
          }
        }

        img {
          aspect-ratio: 1/1;
          height: 100%;
          width: 70px;
          margin-bottom: 0.5rem;
          border-radius: 100%;
        }
      }

      button {
        margin-top: 1rem;
      }
    }
  }
}
