@import "../../../../../assets/styles/variables";

.contact_list {
  display: flex;
  flex-direction: column;
  background-color: #f4fcfd;
  height: 100vh;
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;

  border-right: 1px solid $borderColor;
}
