// variables

$segoe: 'SegoeUI', sans-serif;
$black: #000000;
$darkblue: #0B9CD5;
$blue: #98DCF1;
$lightblue: #B8EDFB;
$white: #FFFFFF;
$grey: #b3b3b3;

$green: #7fba00;

$borderColor: #cecece;

$boxShadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
$linearGradient: linear-gradient(90deg, $darkblue, $blue);
$background: linear-gradient(145deg, rgba(244, 252, 253, 1) 0%, rgba(255, 255, 255, 1) 61%, rgba(184, 237, 251, 1) 100%);
