div{



    label{
        display: inline;
        text-align: center;
        font-size: 15px;
        
    }
    input {
        position: relative;

        display: block;
        border-color: grey;
        border-radius: 5px;
        height: 40px;
        width: 350px;
        margin: 5px 0;
    }
}