label{
    display: block;
    font-size: 15px;
    
}
input {
    position: relative;

    display: block;
    border-color: grey;
    border-radius: 5px;
    height: 40px;
    width: 210px;
    margin: 5px 0;
}
